 
management:
    security:
        enabled: false
    endpoint:
        health: 
            group: 
                custom :
                    show-details: always
        
        
security:
    jwt:
        secret-key : 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
        expiration-time:  86400000
#                expiration-time:  600000  1min
 
thymeleaf:
    encoding: UTF-8
 
spring:
    main:
        allow-bean-definition-overriding: true
    profiles:
      active: prod,javamelody
  
    data:
        rest:
            base-path: /api/data
    output:
        ansi:
            enabled: DETECT
    application:
        name: MedLite-core
    batch:
        job:
            enabled: false        
 
    jmx.enabled: true
    devtools:
        add-properties:
            false
        restart:
            enabled: true
        livereload:
            enabled: true
    datasource:
        url: jdbc:sqlserver://localhost\sql2019;database=GMedicalLite;integratedSecurity=false;encrypt=false;trustServerCertificate=true
        username: sa
        password: 123
        connection:
            characterEncoding: UTF-8 
        
    jpa:
        open-in-view : false
        defer-datasource-initialization : true
        database-platform: org.hibernate.dialect.SQLServer2012Dialect
        database: SQL_SERVER
        show-sql: false
        generate-ddl: true
        hibernate:
            ddl-auto: update
            use_sql_comments : true
            show-sql: true
            naming:
                implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        properties:
            hibernate.default_schema: dbo
            hibernate.id.new_generator_mappings: true
            hibernate.cache.use_second_level_cache: false
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: false
            org.hibernate.envers.store_data_at_delete: true
    messages:
        basename: i18n/messages
 
lang:
    secondary: ar
server:
    port: 9090
    contextPath: /MedLite-core
    error:
        include-stacktrace: ON_PARAM
 
environnement : local 
  
  
  
application:
    cors:
#        allowed-origins: "http://localhost:4900"
        allowed-methods: "*"
        allowed-headers: "*"
        exposed-headers: "*"
        allow-credentials: false
        max-age: 3600
        allowed-origins: "https://airbnbclone.codecake.fr"
  
  
#  ////////////////// new 

#
#
#spring:
#    main:
#        allow-bean-definition-overriding: true
#    profiles:
#      active: prod,javamelody
#  
#    data:
#        rest:
#            base-path: /api/data
#    output:
#        ansi:
#            enabled: DETECT
#    application:
#        name: Comptabilite-core
#    batch:
#        job:
#            enabled: false        
# 
#    jmx.enabled: true
#    devtools:
#        add-properties:
#            false
#        restart:
#            enabled: true
#        livereload:
#            enabled: true
#    datasource:
#        url: jdbc:sqlserver://localhost\sql2019;database=GComptabilite;integratedSecurity=false;encrypt=false;trustServerCertificate=true
#        username: sa
#        password: 123 
#
#        
#    jpa:
#        defer-datasource-initialization : true
#        database-platform: org.hibernate.dialect.SQLServer2012Dialect
#        database: SQL_SERVER
#        show-sql: false
#        generate-ddl: true
#        hibernate:
#            ddl-auto: none
#            use_sql_comments : true
#            show-sql: true
#            naming:
#                implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
#                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
#        properties:
##            hibernate.default_schema: PARAM
#            hibernate.id.new_generator_mappings: true
#            hibernate.cache.use_second_level_cache: false
#            hibernate.cache.use_query_cache: false
#            hibernate.generate_statistics: false
#            org.hibernate.envers.store_data_at_delete: true
# 
##                   
#    messages:
#        basename: i18n/messages
#         
#lang:
#    secondary: ar
#server:
#    port: 9090
##    contextPath: /comptabilite-core
#    error:
#        include-stacktrace: ON_PARAM
#        whitelabel:
#            enabled: false
# 
#environnement : local 
#
#security:
#    jwt:
#        secret-key : 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
#        expiration-time: 86400000
##                expiration-time:  60000 1min
# 
#
# 