 
management:
    security:
        enabled: false
    endpoint:
        health: 
            group: 
                custom :
                    show-details: always
        
        
security:
    jwt:
        secret-key : 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
        expiration-time:  86400000
#                expiration-time:  600000  1min
 
thymeleaf:
    encoding: UTF-8
 
 
 
spring:
   
    jackson:
 
#// Libya + Cairo 
#        time-zone: EET   
#Tunisie
        time-zone: CET 
       
 
    main:
        allow-bean-definition-overriding: true
    profiles:
      active: dev,javamelody
  
    data:
        rest:
            base-path: /api/data
    output:
        ansi:
            enabled: DETECT
    application:
        name: MedLite-core
    batch:
        job:
            enabled: false        
 
    jmx.enabled: true
    devtools:
        add-properties:
            false
        restart:
            enabled: true
        livereload:
            enabled: true
    datasource:
        url: jdbc:sqlserver://localhost\sql2019;database=GMedicalLite;integratedSecurity=false;encrypt=false;trustServerCertificate=true
        username: sa
        password: 123
        driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver   
 
        hikari:
            maximumPoolSize: 10  
            connectionTimeout: 5000   
        
    jpa:
        open-in-view : false
        defer-datasource-initialization : true 
        database: SQL_SERVER
        show-sql: false
        generate-ddl: true
        hibernate:
            ddl-auto: update  
            use_sql_comments : true
            show-sql: true
            naming:
                implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        properties:
            hibernate.default_schema: dbo
            hibernate.id.new_generator_mappings: true
            hibernate.cache.use_second_level_cache: false
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: false
            org.hibernate.envers.store_data_at_delete: true
    messages:
        basename: i18n/messages 
lang:
    secondary: ar
server:
    port: 9099
    contextPath: /MedLite-core
    error:
        include-stacktrace: ON_PARAM
 
environnement : local 
  
  
   